* {
    /* Change your font family */
    font-family: sans-serif;
}
.category__container {
    display: flex;
    height: 670px;
    position: relative;
}
.category__modal{
    &__bottom--btn {
        position: absolute;
        bottom: 20px;
        right: 25px;
    }
}
