@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
@import 'variables.scss';
* {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 16px;
}
body {
    font-family:'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $black-color; 
}
span {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
button:hover {
    cursor: pointer;
    opacity: 0.8;
}
input:focus {
    border-color: rgba(221, 221, 221, 0.8);
    box-shadow: 0 1px 1px rgba(206, 206, 206, 0.075) inset, 0 0 8px rgba(221, 221, 221, 0.8);
    outline: 0 none;
}
