//Table
.table__container {

}
.table {
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 16px;
    min-width: 1200px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout:fixed;
    thead tr {
        background-color: #2f4050;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }
    th{
        padding: 10px 0px 10px 0px;
    }
    td{
        padding: 10px 0px 10px 0px;
    }
    tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    tbody tr:last-of-type {
        border-bottom: 2px solid #dddddd;
    }
    tbody tr.active-row {
        font-weight: bold;
        color: #dddddd;
    }
}
// Paganiton
$paddingPagination: 6px;
.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: calc($paddingPagination + 10px);
  }  
  .pagination__btn {
      width: 80%;
      height: 40px;
      list-style: none;
      display: flex;
      justify-content: center;
    }  
    
    .pagination__btn a {
      padding: $paddingPagination;  
      margin: 0px 4px;
      border-radius: 8px;
      border: 1px solid #2b2eff;
      color: #2b2eff;
      cursor: pointer;
    }  
    
    .pagination__btn a:hover {
      color: white;  
      background-color: #2b2eff;
    }  
    
    .pagination--active a {
      color: white;  
      background-color: #2b2eff;
    }  
    
    .pagination--disabled a {
        color: white; 
        background-color: grey;
        border:0px solid
    }
    .pagination--disabled a:hover {
        color: white; 
        background-color: grey;
        border:0px solid
    }     
.select{
    height: 37px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ced4da;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;            
}

.input__container__flex {

}


